body {
  margin: 2%;
  font-size: 20px;
  font-family: "Roboto", -apple-system, "Segoe UI", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

input {
  padding: 8px 12px;
}

select {
  padding: 8px 12px;
  border-radius: 3px;
}

#enviado {
  color: #5856d6;
}